// -------------- Fonts --------------
// Default
$sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Custom
$font: $sans;

// -------------- Colors --------------
$white: #e9e9e9;
$gray: #ababab;
$dark: #22054a;

// -------------- Other --------------
$transition: .2s ease;
$border: 1px solid $dark;
