.weather {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100% - 40px);
  background-position: center;
  background-size: cover;
  background-image: url("./bg.jpg");

  &__day {
    width: 50%;
  }

  &__week {
    margin-top: auto;
  }
}

.location-info {
  position: absolute;
  top: 20px;
  right: 20px;
}
